body {
	background: #900748;
}
.links {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bolder;
	text-shadow: 1px 1px 0 black;
	color: red;
}
.links:hover {
	text-decoration: underline;
	color: #a21155;
}
.about-dev {
	width: 50%;
}
.header, .about-img {
	width: 100%;
}
.nav {
	width: 100%;
	border-collapse: collapse;
	background-color: #f5c1a9;
	font-family: helvetica;
}
.school {
	color: gray;
	font-style: italic;
	font-size: 10pt;
	font-family: helvetica;
	letter-spacing: 2px;
}
.maths {
	letter-spacing: 5px;
	word-spacing: 10px;
	font-weight: bolder;
	color: green;
}
.matics {
	color: #900748;
	letter-spacing: 3px;
	font-weight: bolder;
	text-shadow: 1px 1px 0 black;
}
.club {
	color: gray;
	letter-spacing: 3px;
	font-weight: bolder;
	text-shadow: 1px 1px 0 black;
}
.project {
	color: gray;
	font-family: alison;
	letter-spacing: 3px;
	font-weight: bolder;
	text-shadow: 1px 1px 0 black;
}
.multiple {
	color: white;
	text-align: center;
	font-size: 200%;
}
.nav-buttons {
	background-color: transparent;
	border: none;
	padding: 30px;
	margin: 20px;
}
.calc {
	font-size: 100%;
	color: #dd438b;
	background-color: transparent;
	border: 2px solid;
	border-radius: 20px;
	margin-left: 15px;
	margin-top: 20px;
	padding: 0px 10px;
}
.calc:hover {
	color: #900748;
	text-decoration: none;
	background-color: #f5c1a9;
}
.head {
	color: #900748;
	font-size: 150%;
	font-weight: bold;
	text-align: left;
	margin-top: 5%;
	margin-left: 2%;
}
.label {
	color: #900748;
	font-style: italic;
	font-size: 80%;
	margin: 0;
	margin-left: 2%;
}
.input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 150%;
	color: #900748;
	text-shadow: 1px 1px 4px #dd438b;
	padding-left: 20px;
	background-color: white;
	border-radius: 20px;
	border: none;
	border-bottom: 4px solid #dd438b;
}
.submit {
	width: 45%;
	border: 2px solid white;
	background-color: #760336;
	color: white;
	padding-left: 0;
	margin: 2% 0;
}
.submit:hover {
	background-color: white;
	color: #760336;
}
.calc-wrap {
	background-color: #f5c1a9;
	border-radius: 10%;
	border: 1% solid #900748;
	box-shadow: 0px 0px 10px #900748;
	margin: 2% 4%;
}
#contact-table {
	width: 100%;
	border-spacing: 5%;
	border-collapse: collapse;
	padding: 2%;
	font-size: 100%;
	color: #f5c1a9;
	text-shadow: 1px 0 0 #f5c1a9;
}
#About-head {
	font-size: 200%;
	color: white;
	text-shadow: 0 0 40px black;
	padding-top: 10%;
	padding-bottom: 2%;
	text-align: center;
}
.about-img {
	width: 100%;
}
.article {
	width: 100%;
	font-size: 200%;
	font-family: helvetical;
	padding: 2%;
}
.article-head {
	color: #f5c1a9;
}
#about-table {
	width: 100%;
	border-collapse: collapse;
	font-family: helvetica;
	margin: 5%;
	clear: both;
}
.table {
	width: 100%;

}
#footer-wrap {
	text-align: center;
	font-size: 50%;
	background-color: black;
	color: #fff;
	padding: 1%;
}