body {
	background: #900748;
}
.head {
	width: 100%;
	padding: 0px;
}
.nav {
	width: 100%;
	border-collapse: collapse;
	background-color: #f5c1a9;
	font-family: helvetica;
}
.links {
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bolder;
	text-shadow: 1px 1px 0 black;
	color: red;
}
.links:hover {
	text-decoration: underline;
	color: #a21155;
}
.left {
	width: 50%;
	padding-left: 30px;
	text-align: left;
	font-size: 20pt;
}
.right {
	width: 10%;
	text-align: right;
	font-size: 20pt;
}
.school {
	color: gray;
	font-style: italic;
	font-size: 10pt;
	font-family: helvetica;
	letter-spacing: 2px;
}
.maths {
	letter-spacing: 5px;
	word-spacing: 10px;
	font-weight: bolder;
	color: green;
}
.matics {
	color: #900748;
}
.club {
	color: gray;
}
.project {
	color: gray;
	font-family: alison;
}
.nav-buttons {
	background-color: transparent;
	border: none;
	padding: 30px;
	margin: 20px;
}
.calc {
	font-weight:bold;
	font-size: 15pt;
	color: lightgray;
	border: 2px solid;
	border-radius: 20px;
	margin-left: 15px;
	margin-top: 20px;
	padding: 0px 10px;
}
.calc:hover {
	color: #dd438b;
	text-decoration: none;
}
.legend {
	color: white;
	font-size: 2rem;
	font-weight: bold;
	margin: auto;
}
.label {
	color: white;
	font-weight: bolder;
	font-style: italic;
	text-shadow: -1px -1px 5px black;
	padding-left: 20px;
}
.input {
	width: 90%;
	height: 40px;
	margin: 5px;
	text-align: center;
	letter-spacing: 5px;
	font-size: 20pt;
	color: #900748;
	text-shadow: 1px 1px 4px #dd438b;
	padding-left: 20px;
	background-color: white;
	border-radius: 20px;
	border: none;
	border-bottom: 4px solid #dd438b;
	margin-bottom: 20px;
}
.submit {
	width: 150px;
	border: 3px solid white;
	background-color: #760336;
	color: white;
	padding-left: 0;
	margin: 10px 60px;
}
.submit:hover {
	background-color: white;
	color: #760336;
	font-weight: bold;
}
.fcleft {
	background-color: #7e043a;
	margin-top: 40px;
	width: 45%;
	float: left;
}
.fcright {
	background-color: #7e043a;
	margin-top: 40px;
	width: 45%;
	float: right;
}

#contact-table {
	width: 100%;
	border-spacing: 10px;
	border-collapse: collapse;
	padding: 20px;
	font-size: 2rem;
	letter-spacing: 4px;
	color: #f5c1a9;
	text-shadow: 1px 0 0 #f5c1a9;
}
#About-head {
	font-size: 3rem;
	letter-spacing: -3px;
	color: white;
	text-shadow: 0 0 40px black;
	padding-top: 100px;
	padding-bottom: 50px;
}
.about-img {
	float: left;
	width: 100%;
}
.article {
	width: 90%;
	font-size: 2rem;
	font-family: helvetical;
	padding: 10px;
}
.article-head {
	color: #f5c1a9;
}
#about-table {
	width: 100%;
	border-collapse: collapse;
	font-familyhelvetica;
	margin: 20px;
	clear: both;
}
#footer-wrap {
	text-align: center;
	background-color: black;
	color: #fff;
	padding: 10px;
}